build
.idea
.idea-maven
!.idea/runConfigurations

bin

*.class

# Log file
*.log


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries


### Gradle ###
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


### Gradle Patch ###
**/build/



### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Backups etc.
_old*
old
*Copy

### Temporary files
~*.pptx
~*.pptx#
~*.xlsx
.~lock*

### Eclipse stuff
.metadata


# IntelliJ
/out/
out


### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output of 'npm pack'
*.tgz
# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

